<launch>

  <!-- For a  Kinect or Xtion, set the depth_camera arg = True.
       For a webcam, set the value = False -->
  <arg name="depth_camera" default="True" />
  
  <!-- These arguments determine which vision node we run -->
  <arg name="face" default="False" />
  <arg name="color" default="False" />
  <arg name="keypoints" default="False" />

  <!-- Launch the appropriate camera drivers based on the depth_camera arg -->
  <include if="$(arg depth_camera)" file="$(find rbx1_vision)/launch/openni_node.launch" />
  <include unless="$(arg depth_camera)" file="$(find rbx1_vision)/launch/uvc_cam.launch" />
  
  <include if="$(arg face)" file="$(find rbx1_vision)/launch/face_tracker2.launch" />
  <include if="$(arg color)" file="$(find rbx1_vision)/launch/camshift.launch" />
  <include if="$(arg keypoints)" file="$(find rbx1_vision)/launch/lk_tracker.launch" />
  
  <include file="$(find rbx1_dynamixels)/launch/dynamixels.launch" />

  <include file="$(find rbx1_dynamixels)/launch/head_tracker.launch" />
  
</launch>
